@import "/src/sassStyles/variables";
@import "/src/sassStyles/animations";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $primaryBackgroundColor;
}
